@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.jacquard-24-regular {
  font-family: "Jacquard 24", serif;
  font-weight: 400;
  font-style: normal;
}

.gothic {
  font-family: "League Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

/* Néon clignotant */
@keyframes neon-flicker {
  0%, 5%, 10%, 19%, 21%, 23%, 25%, 30%, 35%, 45%, 50%, 54%, 56%, 60%, 75%, 100% {
    opacity: 1;
    text-shadow: 
      0 0 20px #ff0000, 
      0 0 40px #ff0000;  }
  6%, 8%, 20%, 24%, 40%, 55%, 70% {
    opacity: 0.8; /* Scintillement faible */
    text-shadow: 
      0 0 15px #ff0000, 
      0 0 30px #ff0000;
  }
  7%, 22%, 28%, 42%, 57%, 68%, 80%, 98% {
    opacity: 0.4; /* Presque éteint */
    text-shadow: 
      0 0 10px #ff0000, 
      0 0 20px #ff0000;
  }
  11%, 26%, 43%, 58%, 73%, 85% {
    opacity: 0; /* Complètement éteint */
    text-shadow: none; /* Pas d'ombre */
  }
}

/* Classe appliquée au texte */
.neon-effect {
  animation: neon-flicker 8s infinite; /* Durée de 6s pour une boucle complète */
}

@layer base {
  :root {
    --background: 0 7% 8%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
